@import url("https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:400,600&display=swap");

.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

/* Nav Styles */
.navbar {
  background: rgb(49, 114, 175);
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.modal {
  position: absolute;
  width: 400px;
  padding: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}