@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:400,600&display=swap');

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* Nav Styles */
.navbar {
  background: rgb(49, 114, 175);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
}

/* NavDrawer Wrapper Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#navDrawer-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #navDrawer-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.navDrawer {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navDrawer li {
  text-indent: 20px;
  line-height: 40px;
}

.navDrawer li a {
  display: block;
  text-decoration: none;
  color: rgb(50, 120, 185);
  transition: 0.3s;
}

.navDrawer li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgb(50, 120, 185);
}

.navDrawer li a:active,
.navDrawer li a:focus {
  text-decoration: none;
}

.navDrawer > .navDrawer-brand {
  color: rgb(50, 120, 185);
  margin-left: -22px;
  font-size: 18px;
  transition: ease-in 0.9s;
}

.navDrawer > .navDrawer-subtitle {
  margin-left: -10px;
  color: rgb(50, 120, 185);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.navDrawer > .navDrawer-brand a {
  color: rgb(50, 120, 185);
}

.navDrawer > .navDrawer-brand a:hover {
  color: #fff;
  background: rgb(50, 120, 185);
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #navDrawer-wrapper {
    width: 250px;
  }

  #wrapper.toggled #navDrawer-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}