.App {
  text-align: center;
}

body, html {
  height: 100%;
}

.flex-grow {
  flex: 1 0 auto;
}

#navDrawer {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
#navDrawer li {
  text-indent: 20px;
  line-height: 40px;
}

#navDrawer li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

#navDrawer li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

#navDrawer li a:active,
#navDrawer li a:focus {
  text-decoration: none;
}

#navDrawer > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

#navDrawer > .sidebar-brand a {
  color: #999999;
}

#navDrawer > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}